@charset "utf-8";
/* CSS Document */
.container{
	margin-top:15px;
}

body{
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 400;
	background-image:url(../img/back.png);
	background-repeat: repeat;
}

button{
	color: white !important;
	background-color:#fbd74b !important;
	border-color: #F9CB16 !important;
}